<h1>All Bookmarks</h1>
<% if policy(Bookmark.new).create? %>
<%= link_to "New Bookmark", new_bookmark_path, class: 'btn btn-success' %>
<% end %>
<table class="table-bookmarks">
<% @bookmarks.each do |b| %>
<tr>
<td>
<%= raw b.tag_list.map {|t| link_to t, tag_path(t) }.join(', ') %>
</td>
<td><%= b.title %></td>
<td><%= link_to "Details", bookmark_path(b) %></td>
<td><em>Created <%= time_ago_in_words(b.created_at) %> ago </em></td></tr>
<% end %>
</table>
<h3>Topics:</h3>
<%= link_to "View All", bookmarks_path %>
<% Bookmark.tag_counts_on(:tags).each do |tag| %>
<%= link_to tag.name, tag_path(tag.name) %>
<% end %>