<% if policy(@bookmark).edit? %>
<%= link_to "Edit", edit_bookmark_path(@bookmark) %>
<% end %>
<p>
<%= render partial: "favorites/favorite", locals: {bookmark: @bookmark} %>
<%= @bookmark.tag_list %>
Source: <%= @bookmark.title %>
Text: <%= @bookmark.text %>
</p>